.order-container{
    width: 75%;
    height: 100vh;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 3px 1px 7px 7px rgba(17, 17, 17, 0.22);
    margin: 5rem auto;
}

.order-heading{
    text-align: center;
    padding-top: 3rem;
    
}
.table-head{
    background-color: aquamarine;
}
.table-heading{
    background-color: aqua;
}

.order-img img{
    width: 20%;
    
}