.containerServ {
    margin: 4rem;
    background-color: rgba(245, 232, 56, 0.363);
}

.headingServ {
    font-size: 40px;
    text-align: center;
    padding-top: 1rem;
}

.containerServices {
    display: flex; 
    margin: 3rem; 
}
.reservation, .delivery {
    display: grid;
    margin-bottom: 3rem;
    background-color: #3845f536;
    border-radius: 30px;
}

.img_Serv {
    width: 15rem;
    height: 10rem;
    padding-top: 1rem;
    justify-self: center;
}

.headingBox {
    padding-bottom: 1rem;
}

.textBox {
    padding: 1rem;    
}

/*tablet size*/
@media only screen and (min-width: 421px) and (max-width: 1220px) {
    .containerServ {
        margin: 3rem 0;
    }

    .boxOne, .boxTwo {
        height: 15rem;
    }
}

/*phone size*/
@media only screen and (max-width: 420px) {
    .containerServ {
        margin: 0;
    }

    .reservation, .delivery {
        display: inline;
    }

    .boxOne {
        width: auto;
    }

    .boxTwo {
        width: auto;
        height: fit-content;
    }
}

.buttonServ {
    margin-top: -1rem;
    border-radius: 20px ;
    width: 10rem;
    height: 30px;
    text-align: center;
    justify-self: center;
    background-color:black;
    color: white;
}

.buttonServ:hover {
    width: 12rem;
    height: 40px;
}