.booking {
    background-color: yellow;
    width: 80%;
    height: fit-content;
    margin: auto;
    text-align: center;
}

/*phone size*/
@media only screen and (max-width: 420px) {
    .booking {
        width: 100%;
    }
}

h2 {
    text-align: center;
}

.form {
    display: inline-block;
    margin-left: 3rem;
}

input {
    width: 10rem;
    height: 1.5rem;
    background-color: white;
    display: inline;
    margin: 1rem;
    border: none;
}

button {
    width: 10rem;
    height: 1.5rem;
    display: inline;
    margin: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
}