.container_offer {
    width: 60%;
    height: fit-content;
    margin: auto;
    text-align: center;
}

.heading_offer {
    text-align: center;
    margin: 3rem;
}

/*desktop size*/
@media only screen and (min-width: 1221px) {
    .pictures {
        display: grid;
        grid-template-columns: repeat(3, 15rem);
        justify-items: center;
    }
}

/*tablet size*/
@media only screen and (min-width:421px) and (max-width:1220px) {
    .pictures {
        display: grid;
        grid-template-columns: repeat(2, 15rem);
        justify-items: center;
    }
}
/*phone size*/
@media only screen and (max-width:420px) {
    .pictures {
        display: grid;
        grid-template-columns: repeat(1, 15rem);
        justify-items: center;
    }
}

.sectionOffer {
 display: inline-flex;
 margin: 1rem 5rem;
}

.food_img {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
}

.new_sticker {
    width: 50px;
    height: 20px;
    background-color: greenyellow;
    color: white;
    text-align: center;
    font-weight: 600;
}
