.dishes_container{
    background-image: url(../images/dishes.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;


}

.post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: rgba(15, 45, 92, 0.9);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.dish-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
/*     background-color: rgba(239, 234, 204, 0.5); */
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    
   
}

.dish-info input{
    height:2rem;
    width: 70%;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #fbf6f6;
    background-color: white;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;


}

.dish-info ::placeholder{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    color:  #0b2a3c;
   
}
   

.radio-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    width: 100%;
   
}

 .radio-container section{
    display: flex;
    flex-direction: column;
   
}
 .dish-info div section label{
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;


}

.dish-info  h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dish-info div section input{
    height: 1.5rem;
    width: 100%;
    margin: 1rem;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #fbf6f6;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ef2222;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

}

.dish-info input{
    color: #0b2a3c;
}



.dish-info div section input[type="radio"]{
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #fbf6f6;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

}

.first-form{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.first-form input{
    height: 2.5rem;
    width: 40%;
    margin: 1rem;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #0b2a3c;
    background-color: rgba(216, 200, 200, 0.5);
    color: #ef2222;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.first-form ::placeholder{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    color:  #0b2a3c;
}


.buttonAddDish{
    height: 2rem;
    width: 7rem;
    margin: 1rem;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #fbf6f6;
    background-color: white;
    color: #c29e0e;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.buttonAddDish:hover{
    background-color: #c29e0e;
    color: white;
}




















